.OrderDetails{
    min-height: 100vh;
    width: 1500px;
    margin: auto;
    padding: 0 25px;
    padding-top: 80px;
    font-family: var(--font3);
    margin-bottom: 45px;

}
.orderIn{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
}
.OrderDetails h1 span{
    color: rgba(0, 0, 0, 0.345);
    font-family: var(--font3);
    padding-bottom:15px !important;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: lighter;
}
.OrderDetails h1{
    font-family: var(--font3);
    padding-bottom:15px !important;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: rgba(0, 0, 0, 0.778);
    
}
.orderId{
    background-color: white;
    
    padding: 10px 30px;
    display: flex;
    align-items: center;
    /* box-shadow: 0 5px 5px hsla(0,0%,50.2%,.27843); */

}
.orderIdLeft{
    width: 70%;
}
.orderIdLeft p{
    display: inline-block;
    padding: 10px;
    background: linear-gradient(90deg, #ffcc00, #ff9900, #ffcc00); /* Adjust colors */
    background-size: 200% 100%;
    color: #fff; /* Text color */
    border-radius: 5px;
    font-weight: bold;
    animation: shimmer 3s infinite linear; 

}

.orderIdRight{
    width: 30%;
    float: right;
    display: flex;
    justify-content: flex-end;
}
.orderIdRight p span{
    padding: 5px;
    border-radius: 5px;
}
.orderItems{
    background-color: white;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.247);
    padding: 15px;
    /* border-left: 1px solid rgba(128, 128, 128, 0.247); */
    /* border-right: 1px solid rgba(128, 128, 128, 0.247); */
    font-size: 17px;


}
.orderItems:hover{
    background-color: rgba(128, 128, 128, 0);
    
}
.orderItemsLeft{
    width: 50%;
    display: flex;
    /* border: 2px solid red; */
}
.orderItemsLeft img{
    width: 85px;
    margin-right:45px;
}
.orderItemsRight{
    width: 50%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

}
.orderDateAmt{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: white;
    /* background-color: rgba(128, 128, 128, 0.115); */
    border-radius: 0 0 5px 5px;
}
.orderDate div{
    color: rgba(0, 0, 0, 0.71);
}
.orderDate p span{
     /* color: rgba(0, 0, 0, 0.71); */

}
.totalAmt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.highLight{
    /* font-size: 15px; */
}

@media (max-width:1500px) {
    .OrderDetails{
        width: 100vw;
    }
}
@media (max-width:1262px) {
    .orderItemsLeft{
        width: 40%;
    }
    .orderItemsRight{
        width: 60%;
    }
    
}
@media (max-width:1065px) {
    .orderItemsLeft{
        width: 30%;
    }
    .orderItemsRight{
        width: 70%;
    }
    
}
@media (max-width:877px) {
    .orderItems{
        flex-direction: column;
        text-align: center !important;
    }
    .orderItemsRight{
        width: 100%;
        padding-top: 25px;
    }
    .updateItemsright{
        width: 100% !important;
        align-items: flex-end !important;
    }
    .orderItemsLeft{
        align-items: center;
        width: 100%;
    }
}
@media (max-width:650px) {
    .orderDateAmt{
        flex-direction: column;
    }
}
@media (max-width:650px) {
    .orderItemsRight{
        flex-direction: column;
        align-items: flex-end;
    }
    .orderItemsRight p{
        font-size: 15px;
        padding-bottom: 5px;
    }
    .orderDateAmt{
        font-size: 14px;
    }
    .orderDate{
        width: 70%;
    }
    .orderPlaced{
        text-align: right;
    }
    .deliveredShip{
        padding-bottom: 0 !important;
    }
}
@media (max-width:460px) {
    .OrderDetails h1,.OrderDetails h1 span{
        font-size: 20px;
        padding-top: 35px;
    }
    .orderItemsRight p{
        font-size: 13px;
    }
    .orderedDate{
        display: none;
    }
    .orderId{
        justify-content: center;
        padding: 15px 0;
    }
    .totalSumOrder{
        padding-top: 5px !important;
    }
}